html {
  font-size: 14px;
  font-family: Helvetica Neue;
  font-weight: 100;
  color: #303644ff;
  letter-spacing: 1px;
}

@keyframes backgroundfade {
  from {background-color: #9bc2cf;}
  to {background-color: #c5e3ed;}
}

body {
  background-color: #9bc2cf;
  animation: backgroundfade 5s ease alternate infinite;
  margin: 0px;
  padding: 0px;
}

.header {
  text-align: center;
  font-weight: lighter;
  font-size: 25px;
}

.container {
  width: 80%;
  background-color: rgba(255, 255, 255, .2);
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 10px 40px 40px 40px;
  height: 100%;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 2px;
  font-weight: 300;
  text-align: left;
}

button {
  background-color: #303644ff;
  color: white;
  border: none;
  padding: 10px;
  width: 150px;
  margin: 0px 10px 20px 10px;
}

button:hover {
  background-color: white;
  color: #303644ff;
}

@keyframes snowFall {
  from {top: 0;}
  to {top: 100%;}
}

.snowflake {
  position: fixed;
  top: -10px;
  border-radius: 50%;
  background-color: white;
  z-index: -5;
  animation-name: snowFall;
  animation-iteration-count: infinite;
}

.graphItem {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.bar {
  height: 25px;
  padding-left: 15px;
  background-color: white;
  color: white;
  font-size: 14px;
  text-align: left;
  opacity: .9;
}

.label {
  margin-top: 3px;
  color: #303644ff;
}

.sortButtons {
  margin: 0 auto;
  text-align: center;
}

.mountain {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    margin-bottom: 100px;
  }
  .graphItem {
    grid-template-columns: 1fr 7fr;
  }
}